@*author: Kristen Norris
    //purpose: selecting a payment type *@
@model bangazonWebApp.Models.PaymentViewModels.PaymentTypeViewModel
@{
    ViewData["Title"] = "Add Payment";
}

<h2>Complete Your Order</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Order" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.PaymentType.Id)
            @Html.DropDownList(
                     "PaymentType.Id",
                     @Model.PaymentList,
                     new
                     {
                         @name = "PaymentType.Id",
                         @class = "form-control"
                     }
                 )
            <span asp-validation-for="@Model.PaymentType.Id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Complete Order" class="btn btn-default" />
    </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

